<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Amatsucozy/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="offline" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="yourOrganizationOrAccountUserName" />
            <add key="ClearTextPassword" value="readWriteToken" />
        </github>
    </packageSourceCredentials>
</configuration>